.Titel{
    text-align: center;
}

.Contact{
    margin-top: 10%;
    width: 100%;
    height: auto;
}
.ContactHart{
    width: 40%;
    height: 40%;
    position: relative;
    top: auto;
}
.ContactText{
    width: 55%;
    height: auto;
    float: right;
    left: 0;
    margin-top: -30%;
    background: #FDDAE9;
    border-radius: 25px 0 0 25px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
    padding: 20px;
    color: black;
}
/* text icons */
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}


/* googlemaps overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ff0000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media screen and (max-width: 888px) {
    .Contact{
        margin-top: 10%;
        width: 100%;
        height: auto;
    }
    .ContactHart{
        width: 100%;
        height: 100%;
        position: relative;
        top auto;
    }
    .ContactText {
        width: 100%;
        height: auto;
        float: right;
        left: 0;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 25px 25px 25px 25px;
    }
}
