<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamplate</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">
          <picture class="logo">
            <source srcset="logo_small.png" media="(max-width: 600px)">
            <source srcset="logo.png" media="(min-width: 600px)">
            <img src="logo_small.png" alt="logo">
          </picture>
        </div>
        <ul class="nav-links">
            <li class="home">
                <a class="home" href="home.html">Home</a>
                <svg class=home xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="294px" height="256px" viewBox="0 0 294 256">
                  <path fill-rule="evenodd" d="M146.932,55.955 C108.883,-32.814 0.727,-12.102 0.015,90.927 C-0.379,147.511 51.516,168.663 86.069,191.284 C119.574,213.222 143.420,243.232 147.156,256.008 C150.356,243.490 176.916,212.631 207.931,190.670 C241.843,166.658 294.379,146.896 293.985,90.312 C293.269,-12.973 183.232,-29.273 146.932,55.955 Z"/>
                </svg>
            </li>
            <li class="reizen">
                <a class="reizen" href="reizen.html">Reizen</a>
                <svg class=reizen xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="294px" height="256px" viewBox="0 0 294 256">
                  <path fill-rule="evenodd" d="M146.932,55.955 C108.883,-32.814 0.727,-12.102 0.015,90.927 C-0.379,147.511 51.516,168.663 86.069,191.284 C119.574,213.222 143.420,243.232 147.156,256.008 C150.356,243.490 176.916,212.631 207.931,190.670 C241.843,166.658 294.379,146.896 293.985,90.312 C293.269,-12.973 183.232,-29.273 146.932,55.955 Z"/>
                </svg>
            </li>
            <li class="contact">
                <a class="contact href="contact.html">Contact</a>
                <svg class=contact xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="294px" height="256px" viewBox="0 0 294 256">
                  <path fill-rule="evenodd" d="M146.932,55.955 C108.883,-32.814 0.727,-12.102 0.015,90.927 C-0.379,147.511 51.516,168.663 86.069,191.284 C119.574,213.222 143.420,243.232 147.156,256.008 C150.356,243.490 176.916,212.631 207.931,190.670 C241.843,166.658 294.379,146.896 293.985,90.312 C293.269,-12.973 183.232,-29.273 146.932,55.955 Z"/>
                </svg>
            </li>
        </ul>
    </nav>
    <h1>test</h1>
    <h3>al;jfljaskdfjlajsfljasl;fjsajf;ljasdfl;jas;lj</h3><h3>al;jfljaskdfjlajsfljasl;fjsajf;ljasdfl;jas;lj</h3>
    <footer>
      <div class="cppyricht">
        © 2020 Team SD-20-4 
      </div>
      <div class="footer-nav">
        <ul>
          <a href="home.html">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="home"><rect width="24" height="24" opacity="0"/><rect x="10" y="14" width="4" height="7"/><path d="M20.42 10.18L12.71 2.3a1 1 0 0 0-1.42 0l-7.71 7.89A2 2 0 0 0 3 11.62V20a2 2 0 0 0 1.89 2H8v-9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v9h3.11A2 2 0 0 0 21 20v-8.38a2.07 2.07 0 0 0-.58-1.44z"/></g></g></svg>
          </a>
          <a href="reizen.html">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="list"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"/><circle cx="4" cy="7" r="1"/><circle cx="4" cy="12" r="1"/><circle cx="4" cy="17" r="1"/><rect x="7" y="11" width="14" height="2" rx=".94" ry=".94"/><rect x="7" y="16" width="14" height="2" rx=".94" ry=".94"/><rect x="7" y="6" width="14" height="2" rx=".94" ry=".94"/></g></g></svg>
          </a>
          <a href="contact.html">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="email"><rect width="24" height="24" opacity="0"/><path d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm0 2l-6.5 4.47a1 1 0 0 1-1 0L5 6z"/></g></g></svg>
          </a>
        </ul>
      </div>
    </footer>
</body>
</html>
